@charset "UTF-8";
@media screen and (max-width: 767px) {
  section {
    padding: 5px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2fr 4fr;
        grid-template-columns: 4fr 2fr 4fr;
    -ms-grid-rows: 1fr 50px;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 'item-1 item-1 item-1' 'item-3 item-4 item-5';
    border-bottom-right-radius: 25px;
  }
  section .content-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: item-1;
    padding: 0px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: radial-gradient(rgba(0, 0, 0, 0.25) 0%, transparent 60%);
  }
  section .content-grid .logo-name {
    min-height: 100px;
    background-position: center;
  }
  section .icons-grid {
    display: none;
  }
  section .footer-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .btn-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item-4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside {
    padding: 20px 10px;
  }
  aside .btn-section {
    padding: 10px 0px 20px 0px;
  }
  aside .card-section {
    padding: 30px 0px;
  }
  aside .card-section .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 'card-1' 'card-2' 'card-3' 'card-4';
    grid-gap: 10px;
  }
  aside .info-section {
    padding: 20px 25px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section {
    padding: 5px 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4.5fr 1fr 4.5fr;
        grid-template-columns: 4.5fr 1fr 4.5fr;
    -ms-grid-rows: 1fr 50px;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 'item-1 item-1 null-1' 'item-3 item-4 item-5';
  }
  section .content-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .content-grid .logo-name {
    min-height: 100px;
    background-position: left;
  }
  section .icons-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: item-5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .footer-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .btn-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item-4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside {
    padding: 20px 50px;
  }
  aside .btn-section {
    padding: 10px 0px;
  }
  aside .card-section {
    padding: 30px 0px;
  }
  aside .card-section .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'card-1 card-2' 'card-3 card-4';
    grid-gap: 10px;
  }
  aside .info-section {
    padding: 50px 50px;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 5px 75px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 4fr 2fr 4fr;
        grid-template-columns: 4fr 2fr 4fr;
    -ms-grid-rows: 1fr 50px;
        grid-template-rows: 1fr 50px;
        grid-template-areas: 'item-1 item-1 null-1' 'item-3 item-4 item-5';
  }
  section .content-grid {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: item-1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .content-grid .logo-name {
    min-height: 100px;
    background-position: left;
  }
  section .icons-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
    grid-area: item-5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section .footer-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: item-3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  section .btn-grid {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: item-4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  aside {
    padding: 30px 100px;
  }
  aside .btn-section {
    padding: 10px 0px 40px 0px;
  }
  aside .card-section {
    padding: 30px 0px;
  }
  aside .card-section .body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 'card-1 card-2' 'card-3 card-4';
    grid-gap: 10px;
  }
  aside .info-section {
    padding: 50px 100px;
  }
}

section {
  min-height: 95vh;
  color: var(--bs-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../images/index-page/backdrop(1).svg");
  background-color: var(--bs-secondary);
}

section .content-grid .logo-name {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../../images/logoPack/atlas-logo-white.png");
}

section .footer-grid span::before {
  content: '© ';
}

section ::-moz-selection {
  background: transparent;
}

section ::selection {
  background: transparent;
}

section a {
  color: var(--bs-white);
}

section a:hover {
  color: var(--bs-white);
  opacity: 0.85;
}

aside .btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .card-section .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: column;
      -ms-flex-pack: column;
          justify-content: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main-page.css.map */