@media screen and (max-width: 767px) {
  section {
    padding: 5px 10px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    -ms-grid-rows: auto 75px;
        grid-template-rows: auto 75px;
        grid-template-areas: 'item-1 item-1 item-1' 'item-2 item-3 null-2';
  }
  section .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  aside {
    padding: 0px 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  section {
    padding: 5px 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    -ms-grid-rows: auto 50px;
        grid-template-rows: auto 50px;
        grid-template-areas: 'item-1 item-1 null-1' 'item-2 item-3 null-2';
  }
  section .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  aside {
    padding: 0px 25px;
  }
}

@media screen and (min-width: 992px) {
  section {
    padding: 5px 75px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    -ms-grid-rows: auto 50px;
        grid-template-rows: auto 50px;
        grid-template-areas: 'item-1 item-1 null-1' 'item-2 item-3 null-2';
  }
  section .content-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  aside {
    padding: 0px 75px;
  }
}

section {
  overflow: hidden;
  min-height: 75vh;
  background-size: cover;
  background-position: center;
  background-image: url("../../././../images/suporte-page/backdrop.svg");
  background-color: #2a5298;
  color: var(--bs-light);
}

section .content-section {
  grid-area: item-1;
}

section .footer-section {
  grid-area: item-2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .btn-section {
  grid-area: item-3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .btn-section a {
  color: var(--bs-light);
}

section .btn-section a:hover {
  color: currentColor;
  opacity: 0.75;
}

aside .content-section p {
  margin-bottom: 0.5rem;
}

aside .suport-section .help-section {
  padding: 1rem 25%;
}
/*# sourceMappingURL=index.css.map */